@use '../partials/variables.scss' as *;

.form {
  --field-border: 2px solid var(--color-sky);
  --form-gap: 1.25rem;

  &__fieldset {
    display: flex;
    gap: var(--form-gap);
    margin-bottom: var(--form-gap);
  }

  &__field {
    flex: 1 1 auto;
    width: auto;

    &--short {
      flex: 0 0 150px;
    }

    &--large {
      flex: 2 1 350px;
    }

    label {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0,0,0,0);
      white-space: nowrap; /* Keeps it accessible for screen readers */
      border: 0;
    }

    input,
    textarea {
      width: 100%;
      padding: 0.75rem 1rem;
      border: var(--field-border);
      border-radius: 10px;
      background-color: white;
      color: var(--color-indigo-dark);
      font-size: 1rem;
      transition: border-color 0.3s ease, box-shadow 0.3s ease;

      &:focus {
        outline: none;
        border-color: var(--color-indigo-bright);
      }
    }

    textarea {
      resize: vertical;
      min-height: 120px;
    }

    select {
      width: 100%;
      padding: 0.75rem 1rem;
      border: var(--field-border);
      border-radius: 10px;
      background-color: white;
      color: var(--color-indigo-dark);
      font-size: 1rem;
      transition: border-color 0.3s ease, box-shadow 0.3s ease;
      appearance: none;
      padding-right: 3rem;
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 1L6 6L1 1' stroke='%2300BDF2' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: right 1rem center;


      &:focus {
        outline: none;
        border-color: var(--color-sky);
        box-shadow: 0 0 0 4px rgba(0, 189, 242, 0.1);
      }
    }
  }

  .button {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 3rem auto 0;
    padding: 1rem 2rem;
  }
}