a:not(.button) {
  text-decoration: none;
}

.link, .content-block a:not(.no-link-style):not(.button) {
  position: relative;
  cursor: pointer;
  color: var(--color-sky, #00BDF2);
  text-decoration: underline;
  transition: color 300ms ease-out;

  // --base-color: var(--color-sky);
  // display: inline;
  // background-image: linear-gradient(transparent, transparent), linear-gradient(var(--base-color), var(--base-color));
  // // background-size: 100% 0.25em, 0 0.25em;
  // background-size: 0 0.35em, 100% 0.35em;
  // background-position: 100% 100%, 0 calc(100% - 0.2em);
  // background-repeat: no-repeat;

  &:hover {
    color: color-mix(in hsl, hsl(0 100 100), var(--color-sky, #00BDF2) 65%)
  }
}