@use '../partials/variables' as *;

@font-face {
  font-family: 'Neoneon';
  src: url('../../fonts/Neoneon.woff2') format('woff2'),
       url('../../fonts/Neoneon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-neoneon {
  font-family: 'Neoneon', sans-serif;
  font-weight: normal;
  font-style: normal;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
  text-shadow: 0 0 20px rgba(0, 189, 242, 0.1);
  letter-spacing: 0.01em;
  opacity: 0;

  .fonts-loaded & {
    opacity: 1;
  }
}

@keyframes glowPulse {
  0% {
    filter: drop-shadow(0 0 10px rgba(0, 189, 242, 0.7));
  }
  45% {
    filter: drop-shadow(0 0 20px rgba(0, 189, 242, 1));
  }
  47% {
    filter: drop-shadow(0 0 20px rgba(0, 189, 242, 0.8));
  }
  49% {
    filter: drop-shadow(0 0 20px rgba(0, 189, 242, 1));
  }
  51% {
    filter: drop-shadow(0 0 20px rgba(0, 189, 242, 0.8));
  }
  53% {
    filter: drop-shadow(0 0 20px rgba(0, 189, 242, 1));
  }
  55% {
    filter: drop-shadow(0 0 20px rgba(0, 189, 242, 0.8));
  }
  60% {
    filter: drop-shadow(0 0 20px rgba(0, 189, 242, 1));
  }
  100% {
    filter: drop-shadow(0 0 10px rgba(0, 189, 242, 0.7));
  }
}

.glow-text {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'text';

  &__text {
    grid-area: text;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: white;
    filter: drop-shadow(0 0 10px rgba(0, 189, 242, 1));
    animation: glowPulse 4s ease-in-out infinite;

    @screen lg {
      -webkit-text-stroke-width: 2px;
    }
  }

  &__outline {
    position: relative;
    grid-area: text;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: var(--color-sky);
    -webkit-text-fill-color: transparent;
    z-index: 1;
    filter: drop-shadow(0 0 20px rgba(0, 189, 242, 1));
    animation: glowPulse 4s ease-in-out infinite;

    @screen lg {
      -webkit-text-stroke-width: 1px;
    }
  }
}

// .font-market {
//   font-family: "ff-market-web", sans-serif;
//   font-weight: 400;
//   font-style: normal;
//   -webkit-font-smoothing: none;
//   -moz-osx-font-smoothing: none;
// }

body {
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Headings
h1, h2, h3, h4, h5, h6 {
  margin-block: 0 1rem;
  line-height: 1.2;
  font-weight: 400;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

// Paragraphs
p {
  font-size: 1rem;
  line-height: 1.6;
  margin-block: 0 1rem;
}

.content-block {
  p {
    margin-block: 1rem;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    margin-left: 1.5rem;
    padding-left: 1.5rem;
    list-style-type: disc;
  }
}

// Unordered Lists
ul {
  margin: 0 0 1rem 0;
  padding-left: 1.5rem;
  list-style-type: disc;
}

// List Items
li {
  margin-block: 0.5rem;
  line-height: 1.4;
}

// Modifiers
.custom-underline {
  --underline-weight: 0.15em;

  position: relative;
  display: inline;
  background-image: linear-gradient(transparent, transparent), linear-gradient(var(--color-tomato), var(--color-tomato));
  background-size: 100% var(--underline-weight), 100% var(--underline-weight);
  background-position: 100% 100%, 0 calc(90% - var(--underline-weight));
  background-repeat: no-repeat;

  // &::before {
  //   content: '';
  //   display: inline;
  //   position: absolute;
  //   width: 105%;
  //   height: 100%;
  //   left: 50%;
  //   bottom: -0.3125rem;
  //   translate: -50% 0;
  //   background-image: linear-gradient(transparent, transparent), linear-gradient(var(--color-tomato), var(--color-tomato));
  //   // background-size: 100% 0.25em, 0 0.25em;
  //   background-size: 0 0.125em, 100% 0.125em;
  //   background-position: 100% 100%, 0 calc(100% - 0.3em);
  //   background-repeat: no-repeat;
  //   z-index: -10;

  //   @include media-sm {
  //     bottom: -10%;
  //   }
  // }
}

.text-sky {
  color: var(--color-sky);
}