@use '../partials/variables' as *;

.page-template-page-events-list {
  main.site-main {
    padding-bottom: 7.5rem;
  }

  // ===========================================================================
  // Hero
  // ===========================================================================
  .hero {
    --hero-padding-top: 5rem;
    
    display: block;
    align-items: center;
    padding-top: calc(var(--site-header-height) + var(--hero-padding-top));
    height: auto;
    min-height: 0;

    @screen xl {
      --hero-padding-top: 10rem;
      
      padding-top: calc(var(--site-header-height) + 10rem);
    }
    
    &__inner {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 100%;

      @screen xl {
        display: grid;
        grid-template-columns: repeat(2, auto);
        align-items: center;
        justify-content: space-between;  
      }
    }

    &__content {
      grid-row: 3 / 4;
    }

    &__content-inner {
      width: 100%;
      gap: 2rem;
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      max-width: 50vw;
    }

    &__title {
      font-size: 2.5rem;
      line-height: 1;
      font-weight: 700;
      color: white;

      @screen md {
        font-size: 3.75rem;
      }

      @screen xl {
        font-size: 5rem;
      }
    }

    &__view {
      font-size: 1.25rem;
      font-weight: 600;
      color: var(--color-sky);
    }

    &__filters {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @screen md {
        width: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
      }

      &-headline {
        font-size: 1.25rem;
        font-weight: 700;
      }
  
      &-filter {
        width: auto;
  
        select {
          width: 200px;
          padding: 0.5rem 1.5rem;
          border: 2px solid white;
          border-radius: 9999px;
          background-color: transparent;
          font-size: 0.875rem;
          font-weight: 700;
          color: white;
          appearance: none;
          padding-right: 3rem;
          background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 1L6 6L1 1' stroke='%2300BDF2' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
          background-repeat: no-repeat;
          background-position: right 1rem center;
        }
      }
      
    }
  }

  // ===========================================================================
  // Feed
  // ===========================================================================
  .feed {
    margin-top: 2rem;

    @screen xl {
      margin-top: 5rem;
    }

    table {
      display: block;
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      overflow-x: auto;
      white-space: nowrap;

      @screen md {
        display: table;
        overflow-x: clip;
      }
    }

    th, td {
      padding: 1rem;
      text-align: left;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      @screen md {
        padding: 2rem 0;
      }
    }

    tr {
      border-bottom: 1px solid white;
    }

    th {
      font-size: 1.25rem;
    }

    td {
      font-size: 1.25rem;
    }

    td.event-name {

      .post-title {
        font-size: 1.25rem;
        font-weight: 700;

        @screen xl {
          font-size: 2.5rem;
          line-height: 1;
        }
      }
    }

    td.event-button {
      text-align: right;
    }

    .button {
      padding: 0.5rem 2rem;
      width: 180px;
      border-radius: 9999px;
    }
  }
}
// Add more styles as needed to match the theme 