@use '../partials/variables' as *;

.page-template-page-events {
  main.site-main {
    padding-bottom: 7.5rem;
  }

  // ===========================================================================
  // Hero
  // ===========================================================================
  .hero {
    --hero-padding-top: 5rem;
    
    display: block;
    align-items: center;
    padding-top: calc(var(--site-header-height) + var(--hero-padding-top));
    height: auto;
    min-height: 0;

    @screen xl {
      --hero-padding-top: 10rem;
      
      padding-top: calc(var(--site-header-height) + 10rem);
    }
    
    &__inner {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 100%;

      @screen xl {
        display: grid;
        grid-template-columns: repeat(2, auto);
        align-items: center;
        justify-content: space-between;  
      }
    }

    &__content {
      grid-row: 3 / 4;
    }

    &__content-inner {
      width: 100%;
      gap: 2rem;
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      max-width: 50vw;
    }

    &__title {
      font-size: 2.5rem;
      line-height: 1;
      font-weight: 700;
      color: white;

      @screen md {
        font-size: 3.75rem;
      }

      @screen xl {
        font-size: 5rem;
      }
    }

    &__view {
      font-size: 1.25rem;
      font-weight: 600;
      color: var(--color-sky);
    }

    &__filters {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @screen md {
        width: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
      }

      &-headline {
        font-size: 1.25rem;
        font-weight: 700;
      }
  
      &-filter {
        width: auto;
  
        select {
          width: 200px;
          padding: 0.5rem 1.5rem;
          border: 2px solid white;
          border-radius: 9999px;
          background-color: transparent;
          font-size: 0.875rem;
          font-weight: 700;
          color: white;
          appearance: none;
          padding-right: 3rem;
          background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 1L6 6L1 1' stroke='%2300BDF2' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
          background-repeat: no-repeat;
          background-position: right 1rem center;
        }
      }
      
    }
  }

  // ===========================================================================
  // Feed
  // ===========================================================================
  .feed {
    --padding: 1.5rem;

    gap: 1rem;
    margin-top: 2rem;

    @screen md {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @screen xl {
      gap: 2.5rem;
      margin-top: 5rem;
    }

    .post {
      position: relative;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
      gap: 1rem;
      border: 2px solid transparent;
      border-radius: 20px;
      background-image: linear-gradient(var(--color-indigo), var(--color-indigo)), linear-gradient(to bottom, var(--color-sky), #26509D);
      background-origin: border-box;
      background-clip: padding-box, border-box;
      overflow: hidden;
      margin-bottom: 2rem;
      height: 100%;

      @screen xl {
        margin-bottom: 0;
        aspect-ratio: 636 / 412;
      }

      .post-image {
        position: relative;
        width: 100%;
        height: 100%;
        grid-row: 1 / 2;
        grid-column: 1 / 2;

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: black;
          opacity: 0.5;
          z-index: 1;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top;
        }
      }

      .post-inner {
        height: 100%;
        padding: var(--padding);
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        position: relative;
        z-index: 1;

        @screen xl {
          --padding: 2.5rem;
        }
      }

      .post-content {
        p {
          font-size: 1.25rem;
          font-weight: 700;
          line-height: 1.2;
        }
      }

      .post-title {
        font-size: 1.75rem;
        line-height: 1;
        font-weight: 700;
        color: white;
        margin-bottom: 2rem;
        max-width: 30rem;

        @screen md {
          font-size: 2rem;
        }

        @screen xl {
          font-size: 3.75rem;
        }

        a {
          transition: color 0.3s ease-in-out;

          &:hover {
            color: var(--color-sky);
          }
        }
      }

      .post-excerpt {
        display: none;
      }

      .post-meta {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @screen xl {
          display: grid;
          grid-template-columns: repeat(3, auto);
          align-items: center;
          gap: 4rem;
          position: absolute;
          bottom: var(--padding);
          left: var(--padding);
        }

        .post-button {
          display: none;

          @screen xl {
            display: block;
          }

          .button {
            width: 180px;
            padding-block: 0.5rem;
          }
        }

        .post-date {
          width: 100%;

          &__label {
            font-size: 1.25rem;
          }

          &__value {
            font-size: 1.5rem;
            font-weight: 700;
          }
        }

        .post-location {
          width: 100%;

          &__label {
            font-size: 1.25rem;
          }

          &__value {
            font-size: 1.5rem;
            font-weight: 700;
          }
        }
      }

      // =======================================================================
      // First post
      // =======================================================================
      @screen md {
        &:first-child {
          grid-column: 1 / 3;
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 1fr;
          align-items: flex-start;
          aspect-ratio: auto;

          .post-image {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            aspect-ratio: 1308 / 544;

            &::after {
              opacity: 0.2;
            }
          }

          .post-content {
            margin-bottom: 4rem;
          }

          .post-inner {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            position: relative;
            z-index: 1;
          }

          .post-title {
            max-width: 30rem;
          }

          .post-excerpt {
            display: block;
            max-width: 35rem;
            padding-right: 10rem;
            margin-top: 2rem;

            @screen xl {
              margin-top: 7.5rem;
            }

            p {
              font-size: 2.25rem;
              font-weight: 400;
              line-height: 1.2;
            }
          }

          .post-meta {
            gap: 1rem;

            @screen xl {
              gap: 6rem;
            }
          }

          .post-button {
            .button {
              width: 250px;
              padding-block: 0.75rem;
            }
          }
        }
      }
    }
  }
}
// Add more styles as needed to match the theme 