@use '../partials/variables' as *;

.home {

  // ===========================================================================
  // Hero
  // ===========================================================================
  .hero {
    position: relative;
    grid-template-rows: var(--site-header-height) 1fr auto;
    z-index: 110;
    height: auto;

    @screen xl {
      min-height: 100vh;
    }

    @media (min-height: 768px) {
      height: 100vh;
    }

    &__container {
      position: relative;
      grid-row: 2 / 4;

      &::before {
        background: linear-gradient(99deg, rgba(39, 43, 100, 89%) 5%, rgba(39, 43, 100, 15%) 95%);
      }
    }

    &__headline-container {
      position: relative;
      z-index: 10;
      grid-row: 2 / 3;
      grid-column: 1 / 2;
      height: 100%;
      display: flex;
      align-items: center;
      padding-inline: 2rem;
      max-width: 960px;
      padding-top: 3rem;
      margin-bottom: 2rem;

      @screen xl {
        margin-bottom: 0;
        padding-top: 0;
        padding-inline: var(--wrapper-wide-margin);
      }

      // img {
      //   max-height: 50vh;
      // }
    }

    &__headline {
      font-size: 4rem;
      line-height: 1;
    }

    @screen xl {
      &__headline {
        font-size: 8rem;       
      }
    }

    &__content {
      grid-row: 3 / 4;
    }

    &__content-inner {
      width: 100%;
      margin-inline: auto;
      gap: 2rem;
      align-items: flex-start;
      display: flex;
      flex-direction: column;
  
      @screen lg {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: flex-end;
      }
    }
  
    &__tagline {
      h2 {
        font-size: 1.75rem;
        line-height: 1;
        font-weight: 700;
        color: white;
        max-width: 15ch;

        @screen md {
          font-size: 3.75rem;
        }

        @screen lg {
          font-size: 2.5rem;
        }
      }
    }
  
    &__button {
      display: flex;
      justify-content: center;

      .button {
        transition: translate 0.3s ease;

        &:hover {
          translate: 0 -6px;
        }
      }
    }
  
    &__video-container {
      position: relative;
      display: none;

      @screen lg {
        display: flex;
        justify-content: flex-end;
      }
    }
  
    .video-container {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: auto;
      transition: translate 0.3s ease;
      cursor: pointer;
      max-width: 600px;
    }
  }
  
  // ===========================================================================
  // Future
  // ===========================================================================
  .future {
    overflow-x: clip;
    padding-block: 2rem;

    @screen xl {
      padding-block: 6rem;
    }
  
    &__inner {
      width: 100%;
      color: white;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      @screen md {
        display: grid;
        grid-template-columns: repeat(2, auto);
      }
    }
  
    &__headline {
      font-size: 2.5rem;
      line-height: 1.1;
      font-weight: 700;
      margin-bottom: 2rem;

      @screen md {
        font-size: 3.75rem;
        line-height: 1;
      }
    }
  
    &__description {
      font-size: 1.5rem;
      line-height: 1.5;
      max-width: 48ch;

      @screen lg {
        font-size: 1.875rem;
      }
    }
  
    &__stats {
      gap: 1.5rem;
      margin-block: 2rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @screen md {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-block: 3rem;
      }

      @screen xl {
        display: grid;
        grid-template-columns: repeat(3, 25rem);
        justify-content: center;
        align-items: flex-start;
        gap: 6.5rem;
        margin-block: 4rem;
      }
    }
  
    &__stat {
      background-color: var(--color-indigo);
      border-radius: 1rem;
      width: 100%;
      max-width: 25rem;
      height: 100%;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      border: 3px solid transparent;
      background-image: linear-gradient(var(--color-indigo), var(--color-indigo)), linear-gradient(to bottom, var(--color-sky), #26509D);
      background-origin: border-box;
      background-clip: padding-box, border-box;

      @screen xl {
        padding: 3.5rem;
      }
    }
  
    &__stat-illo {
      width: 10rem;
      height: 10rem;
    }
  
    &__stat-text {
      font-size: 1.5rem;
    }
  }
  
  // ===========================================================================
  // Links
  // ===========================================================================
  .links {
    background-color: white;
    color: var(--color-indigo);
    padding-block: 4rem;
  
    &__inner {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      @screen md {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        align-items: center;
      }

      @screen xl {
        padding-block: 6rem;
      }
    }
  
    .links-list {
      li {
        font-size: 2rem;
        line-height: 1.1;
        margin-bottom: 1rem;

        @screen xl {
          font-size: 3rem;
          margin-bottom: 1.5rem;
        }
        
        span {
          text-decoration: none;
          color: inherit;
          cursor: pointer;
          transition: color 0.3s ease;
  
          &:hover {
            color: var(--color-sky);
          }
        }
  
        &.active {
          span {
            font-weight: 700;
          }
        }
      }
    }

    .video-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .video-container {
      width: 100%;
      aspect-ratio: 9 / 16;
      
      @screen sm {
        max-width: 350px;
      }

      @screen xl {
        aspect-ratio: 9 / 16;
      }

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        // box-shadow: 20px 20px 40px 0 rgba(0, 0, 0, 0.25);
      }
    }
  }
  
  // ===========================================================================
  // CTA
  // ===========================================================================
  .cta {
    position: relative;
    color: white;
    padding-block: 6rem;
    overflow: hidden;
    background-color: var(--color-sky);

    &__container {
      position: absolute;
      inset: 0;
      z-index: 0;

      // &::before {
      //   content: '';
      //   position: absolute;
      //   inset: 0;
      //   background: linear-gradient(99deg, rgba(39, 43, 100, 89%) 5%, rgba(39, 43, 100, 15%) 95%);
      //   z-index: 1;
      // }
    }

    &__image {
      width: 120%;
      height: 120%;
      object-fit: cover;
      object-position: center;
    }
  
    &__inner {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;

      @screen xl {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
      }
    }
  
    &__headline {
      font-size: 2.5rem;
      line-height: 1;
      font-weight: 700;
      max-width: 40rem;

      @screen md {
        font-size: 3.75rem;
      }

      @screen xl {
        font-size: 5rem;
      }
    }
  
    &__content {
      max-width: 35rem;
      justify-self: center;
    }
  
    &__description {
      p {
        font-size: 1.5rem;
        line-height: 1.5;
        margin-block: 1.5rem;
        font-weight: 600;

        @screen md {
          font-size: 1.625rem;
          margin-block: 3rem;

          &.large {
            font-size: 2.5rem;
            line-height: 1;
            font-weight: 700;
          }
        }
      }
    }
  
    &__button {
      width: 100%;
      margin-top: 4rem;

      @screen xl {
        margin-top: 8rem;
      }
  
      .button {
        box-shadow: 0 30px 30px 0 rgba(49, 49, 133, 0.3);

        @screen xl {
          padding-inline: 4rem !important;
        }
  
        &:hover {
          background-color: var(--color-sky, #00BDF2);
        }
      }
    }
  }

  // ===========================================================================
  // Events
  // ===========================================================================
  .events {
    padding-block: 4rem;

    @screen md {
      padding-block: 6rem;
    }

    &__headline {
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 2rem;

      @screen md {
        margin-bottom: 6rem;
      }
    }

    .events-list {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      @screen md {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
      }

      @screen xl {
        grid-template-columns: repeat(5, 1fr);
      }

      .event {
        position: relative;
        background-color: var(--color-sky);
        border-radius: 1.25rem;
        padding: 1rem 1rem 2rem;
        overflow: hidden;
        height: 350px;
        border: 2px solid transparent;
        background-image: linear-gradient(var(--color-indigo-dark, #172032), var(--color-indigo-dark, #172032)), linear-gradient(to bottom, var(--color-sky), #26509D);
        background-origin: border-box;
        background-clip: padding-box, border-box;  
        transition: margin-top 0.3s ease;

        &:hover {
          margin-top: -6px;
        }

        &__content {
          position: relative;
          z-index: 30;
          display: flex;
          height: 100%;
          flex-direction: column;
          justify-content: space-between;
        }

        &__date {
          font-weight: 700;
        }

        &__title {
          font-size: 2.125rem;
          font-weight: 700;
          margin-bottom: 2rem;
          max-width: 12rem;
        }

        &__button {
          text-transform: uppercase;
          letter-spacing: 0.05em;
          font-weight: 600;

          &::after {
            content: '';
            display: inline-block;
            width: 0.5rem;
            height: 0.5rem;
            margin-left: 0.5rem;
            border-top: 2px solid currentColor;
            border-right: 2px solid currentColor;
            transform: rotate(45deg) translate(-1px, -1px);
          }
        }

        &__image {
          position: absolute;
          inset: 0;
          object-fit: cover;
          object-position: center;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            filter: grayscale(100%) brightness(0.8) contrast(0.8);
            transition: filter 0.3s ease;
          }

          &::before {
            content: '';
            position: absolute;
            inset: 0;
            background-color: var(--color-sky);
            opacity: 1;
            z-index: 10;
            mix-blend-mode: color;
            transition: opacity 0.3s ease;
          }

          &::after {
            content: '';
            position: absolute;
            inset: 0;
            background-color: black;
            opacity: 0.25;
            z-index: 20;
          }
        }

        &:hover {
          .event__image {
            img {
              filter: grayscale(0%) brightness(1) contrast(1);
            }
  
            &::before {
              opacity: 0;
            }
          }
        }
      }
    }
  }

  // ===========================================================================
  // Comments Feature
  // ===========================================================================
  .comments-feature {
    position: fixed;
    // right: 0;
    // top: calc(max(960px, 100vh) - 25rem);
    // bottom: var(--wrapper-wide-margin);
    bottom: 0;
    right: var(--wrapper-wide-margin);
    width: 20rem;
    flex-direction: column;
    gap: 1rem;
    translate: 1rem 0;
    padding-top: 2rem;
    z-index: 100;
    transition: height 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
    opacity: 0;
    visibility: hidden;
    display: none;

    @screen xl {
      display: flex;
    }

    &.reveal {
      opacity: 1;
      visibility: visible;
    }

    @screen lg {
      height: 25rem;
      translate: 2.5rem 0;
      align-items: center;
      justify-content: center;
    }

    img {
      width: 100%;

      @screen sm {
        margin-inline: auto;
      }
    }

    &.is-hidden {
      height: 0;

      .comments-swiper {
        opacity: 0;
        visibility: hidden;
      }

      .comments-feature-close {
        transform: rotate(180deg);
      }
    }
  }

  .comments-feature-close {
    position: absolute;
    top: -2.5rem;
    right: 0;
    background: white;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-indigo);
    font-size: 1.25rem;
    transition: all 0.3s ease;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-self: end;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: var(--color-sky);
      color: white;
    }

    .close-icon {
      position: relative;
      width: 0.75rem;
      height: 0.75rem;
      display: block;
      margin: 0;
      transform-origin: center;

      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: currentColor;
        transform-origin: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &::before {
        transform: translate(-80%, -50%) rotate(45deg);
      }

      &::after {
        transform: translate(-20%, -50%) rotate(-45deg);
      }
    }
  }

  .comments-swiper {
    // overflow-y: clip;
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
    transition: opacity 0.3s ease-out, visibility 0.3s ease-out, height 0.3s ease-out;

    .swiper-slide {
      position: relative;
      padding: 1rem;
      color: var(--color-indigo);
      background-color: white;
      border-radius: 20px;
      // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      width: calc(100% - 40px);
      height: calc(100% - 40px);
      // margin-bottom: 1rem;
      display: grid;
      grid-template-columns: 50px 1fr;
      gap: 1rem;
      height: auto;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
      box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.1);

      &-active {
        opacity: 1;
        visibility: visible;
      }

      &-next,
      &-next-2 {
        opacity: 1;
        visibility: visible;
      }

      &-next-2 {
        transition: opacity 1s ease-out, visibility 1s ease-out;
        transition-delay: 0.5s;
      }

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid var(--color-indigo);
        object-fit: cover;
        object-position: top center;
        z-index: 10;
      }
      
      p {
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 1.2;  
      }

      .comments-feature__comment-footer {
        margin-top: 0.5rem;
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 1.2;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        color: var(--color-sky);
      }
      
      &::after {
        content: '';
        position: absolute;
        bottom: -14px;
        right: -3px;
        width: 45px;
        height: 51px;
        background-color: white;
        mask-image: url("data:image/svg+xml,%3Csvg width='45' height='51' viewBox='0 0 45 51' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32.6858 0.240168C33.6016 -0.117974 34.6296 -0.0754381 35.5159 0.364191C36.4614 0.833274 37.1444 1.70446 37.3753 2.73431C38.0739 5.85124 37.6677 9.85153 37.1898 13.5956C36.6786 17.5997 36.018 21.7049 35.7669 25.8671C35.2586 34.2946 36.5817 40.9259 42.7122 44.4697L42.9817 44.6425C44.2792 45.5589 44.8073 47.2525 44.2259 48.7597C43.6444 50.267 42.1153 51.1673 40.5384 50.9745L40.223 50.9218C37.1092 50.2507 33.8891 48.656 30.7786 46.7167C27.6326 44.7553 24.3861 42.3041 21.2034 39.7285C18.0192 37.1515 14.8211 34.3858 11.804 31.7968C9.14115 29.5118 6.62608 27.3698 4.30792 25.539L3.32647 24.7743C3.20646 24.682 3.09272 24.5816 2.98565 24.4745C1.47179 22.9606 0.305662 21.1592 0.0510829 19.0536C-0.214905 16.8526 0.588998 14.967 1.73858 13.5175C3.8247 10.8873 7.57924 9.01751 11.1136 7.59173C14.8271 6.09366 19.1367 4.77646 22.9788 3.59368C26.9473 2.37201 30.3019 1.32515 32.5042 0.317316L32.6858 0.240168Z' fill='white'/%3E%3C/svg%3E%0A");
        z-index: 0;
      }

      &.is-even {

        &::after {
          bottom: -14px;
          right: auto;
          left: -3px;
          transform: scaleX(-1);
        }
      }

      &.is-odd {
        translate: 20px 0;
      }

      &.first-of-three {
        background-color: var(--color-sky);

        p {
          color: white;
        }

        .future__comment-footer {
          color: var(--color-indigo);
        }

        img {
          border-color: white;
        }

        &::after {
          background-color: var(--color-sky);
        }
 
      }
    }
  }
}