.hero {
  display: grid;
  flex-direction: column;
  grid-template-rows: var(--site-header-height) 1fr;
  // height: 75vh;
  width: 100%;
  height: auto;
  max-height: 100vh;

  &__container {
    position: relative;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    grid-row: 2 / 4;
    grid-column: 1;
    margin: 1rem;
    background-color: #0f172a; // slate-950
    border-radius: 20px;
    overflow: clip;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      // background: linear-gradient(to right, rgba(39, 43, 100, 0.7) 5%, rgba(39, 43, 100, 0) 65%);
      pointer-events: none;
      z-index: 10;
    }
  }

  &__image {
    width: 120%;
    height: 120%;
    object-fit: cover;
  }

  &__content {
    width: 100%;
    grid-row: 2 / 4;
    grid-column: 1;
    padding-bottom: 3.5rem;
    position: relative;
    z-index: 10;
    padding-inline: 2rem;

    @screen md {
      padding-inline: var(--layout-margin);
    }
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 700;
  }
}

.next {
  display: flex;
  justify-content: center;
  margin-top: 4rem;

  @screen md {
    justify-content: flex-end;
    margin-top: 6rem;
  }

  &__link {
    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
      .next__title {
        &::after {
          translate: 5px 0;
        }
      }
    }
  }

  &__label {
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.5em;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 700;
    white-space: nowrap;

    &::after {
      content: '';
      display: inline-block;
      width: 1rem;
      height: 1rem;
      margin-left: 1rem;
      border-top: 2px solid var(--color-sky);
      border-right: 2px solid var(--color-sky);
      transform: rotate(45deg) translate(-1px, -1px);
      transition: translate 0.3s ease;
    }
  }
}