@use '../partials/variables' as *;

.page-template-page-join-the-movement {

  .hero {
    align-items: flex-end;
    height: 50vh;

    @screen md {
      height: 75vh;
    }

    @screen xl {
      align-items: center;
      height: max(960px, 100vh);
    }
    
    &__container {
      &::before {
        background: linear-gradient(80deg, var(--color-indigo), rgba(39, 43, 100, 0) 100%);

        @screen xl {
          background: linear-gradient(80deg, var(--color-indigo), rgba(39, 43, 100, 0) 65%);
        }
      }
    }

    &__content {
      &-inner {
        max-width: 32rem;

      }
    }

    &__image {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__headline {
      font-size: 2.5rem;
      line-height: 1;
      font-weight: 700;

      @screen md {
        font-size: 3.75rem;
      }

      @screen xl {
        font-size: 5rem;
      }
    }
  }

  .intro {
    overflow-x: clip;
    padding-block: 2rem;

    @screen md {
      padding-block: 6rem;
    }

    &__content {

    }

    &__headline {
      font-size: 2.5rem;
      line-height: 1;
      font-weight: 700;
      text-align: center;
      margin-bottom: 1rem;
      color: var(--color-sky);

      @screen md {
        font-size: 3.75rem;
      }

      @screen xl {
        font-size: 5rem;
      }
    }

    &__subheadline {
      font-size: 1.5rem;
      line-height: 1;
      font-weight: 400;
      text-align: center;

      @screen md {
        font-size: 2rem;
      }

      @screen xl {    
        font-size: 2.25rem;
      }
    }

    &__list {
      margin-top: 4rem;
      
      &-headline {
        font-size: 1.5rem;
        line-height: 1;
        font-weight: 700;
        text-align: center;
        margin-bottom: 2rem;
        color: var(--color-sky);

        @screen md {
          font-size: 2rem;
        }

        @screen xl {
          font-size: 2.5rem;
        }
      }

      &-items {
        list-style: none;
        padding: 0;
        margin: 0 0 5rem;
        text-align: center;

        @screen md {
          margin: 0 0 5rem;
        }

        li {
          font-size: 1.5rem;
          font-weight: 700;

          @screen md {
            font-size: 2rem;
          }

          @screen xl {
            font-size: 2.5rem;
          }

          &::before {
            content: '';
            display: inline-block;
            width: 12px;
            height: 16px;
            background-color: var(--color-sky);
            mask-image: url("data:image/svg+xml,%3Csvg width='16' height='23' viewBox='0 0 16 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 2L13 11.5L1 21' stroke='%2300BDF2' stroke-width='3'/%3E%3C/svg%3E%0A");
            mask-size: contain;
            mask-repeat: no-repeat;
            margin-right: 1rem;
            vertical-align: middle;
            translate: 0 -2px;

            @screen md {
              width: 16px;
              height: 23px;
            }

            @screen xl {
              width: 24px;
              height: 34px;
            }
          }
        }
      }
    }

    &__form {
      max-width: 55rem;
      margin-inline: auto;

      .form {
        --form-gap: 1.5rem;

        @screen xl {
          --form-gap: 3rem;
        }
      }

      input {
        background-color: transparent;
        border-radius: 9999px;
        border-color: white;
        color: white;
        font-size: 0.875rem;
        padding: 1rem 2.5rem;

        &::placeholder {
          color: white;
        }
      }

      .button {
        margin-top: 1rem;

        @screen xl {
          margin-top: 3rem;
        }
      }
    }
  }

  .cta {
    background-color: white;
    color: var(--color-indigo-bright);
    padding-block: 2rem 5rem;

    @screen xl {
      padding-block: 5rem;
    }

    &__headline {
      font-size: 3.75rem;
      line-height: 1;
      font-weight: 700;
      text-align: center;
      margin-bottom: 4rem;
    }

    &__subheadline {
      font-size: 2rem;
      font-weight: 700;
      text-align: center;
      margin-block: 3rem;
      max-width: 20ch;
      margin-inline: auto;

      & > * {
        line-height: 1;
      }

      @screen md {
        font-size: 2.625rem;
      }

      @screen xl {
        max-width: none;
      }
    }

    .teasers-list {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1.5rem;

      @screen md {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
      }

      @screen xl {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .teaser {
      position: relative;
      background-color: var(--color-sky);
      border-radius: 1.25rem;
      padding: 1rem 1rem 2rem;
      overflow: hidden;
      height: 300px;
      border: 2px solid transparent;
      background-image: linear-gradient(var(--color-indigo-dark, #172032), var(--color-indigo-dark, #172032)), linear-gradient(to bottom, var(--color-sky), #26509D);
      background-origin: border-box;
      background-clip: padding-box, border-box;  
      transition: margin-top 0.3s ease;

      @screen md {
        height: 350px;
      }

      &:hover {
        margin-top: -6px;
      }

      &__content {
        position: relative;
        z-index: 30;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: flex-end;
      }

      &__title {
        font-size: 1.75rem;
        line-height: 1;
        font-weight: 700;
        max-width: 12rem;
        color: white;

        @screen md {
          font-size: 2.125rem;
        }
      }

      &__image {
        position: absolute;
        inset: 0;
        object-fit: cover;
        object-position: center;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }

        &::before {
          content: '';
          position: absolute;
          inset: 0;
          background-color: var(--color-indigo-bright);
          opacity: 0.65;
          z-index: 10;
          mix-blend-mode: color;
        }

        &::after {
          content: '';
          position: absolute;
          inset: 0;
          background-color: black;
          opacity: 0.25;
          z-index: 20;
        }
      }
    }
  }
} 