@use '../partials/variables' as *;
@use '../components/buttons' as *;

.blog {
  main.site-main {
    padding-bottom: 5rem;

    @screen md {
      padding-bottom: 7.5rem;
    }
  }

  .hero {
    align-items: center;
    
    &__container {
      &::before {
        background: linear-gradient(to top, var(--color-indigo), transparent 85%);
      }
    }

    &__image {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      } 
    }

    &__content {
      grid-row: 3 / 4;
    }

    &__content-inner {
      width: 100%;
      gap: 1rem;
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      max-width: 100%;

      @screen md {
        max-width: 50vw;
        gap: 2rem;
      }
    }

    &__headline {
      font-size: 2.5rem;
      line-height: 1;
      font-weight: 700;
      color: white;
      margin-bottom: 0.5rem;

      @screen md {
        font-size: 3.75rem;
        margin-bottom: 1rem;
      }

      @screen xl {
        font-size: 5rem;
      }
    }

    &__subheadline {
      font-size: 1.5rem;
      font-weight: 600;
      color: white;
      margin-bottom: 0.5rem;

      @screen md {
        font-size: 2rem;
        margin-bottom: 1rem;
      }

      @screen xl {
        font-size: 2.5rem;
      }
    }
  }

  .filter {
    margin-bottom: 2rem;

    @screen xl {
      margin-bottom: 5rem;
    }

    &__filters-headline {
      font-size: 1rem;
      font-weight: 700;

      @screen md {
        font-size: 1.25rem;
      }
    }

    &__filters {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: flex-start;

      @screen md {
        flex-direction: row;
        align-items: center;
      }

      @screen xl {
        gap: 2.25rem;
      }
    }

    &__filter {
      width: 100%;

      @screen xl {
        width: auto;
      }

      button, input[type='search'] {
        width: 100%;
        padding: 0.5rem 1.5rem;
        border: 2px solid white;
        border-radius: 9999px;
        background-color: transparent;
        font-size: 0.875rem;
        font-weight: 700;
        color: white;
      }

      button {
        position: relative;
        display: flex;
        align-items: center;
        color: var(--color-sky);

        &::before {
          content: 'Issue';
          margin-right: 1rem;
          color: white;
        }

        @screen md {
          width: 300px;
        }
      }

      input[type='search'] {
        @screen xl {
          width: 400px;
        }
      }
    }
  }

  .feed {
    .alm-listing, .alm-paging-content {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;
      margin-top: 1rem;

      @screen md {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin-top: 2rem;
      }

      @screen xl {
        grid-template-columns: repeat(3, 1fr);
        gap: 5rem;
        margin-top: 3rem;
      }
    }

    .post {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      border: 2px solid transparent;
      border-radius: 20px;
      background-image: linear-gradient(var(--color-indigo), var(--color-indigo)), linear-gradient(to bottom, var(--color-sky), #26509D);
      background-origin: border-box;
      background-clip: padding-box, border-box;
      overflow: hidden;

      // =======================================================================
      // Featured Post
      // =======================================================================

      @screen md {
        &:nth-child(7n+1) {
          grid-column: 1 / 3;
          row-gap: 0;
        }
      }

      @screen xl {
        &:nth-child(7n+1) {
          grid-column: 1 / 4;
          display: grid;
          grid-template-columns: 1fr 2fr;
          align-items: center;

          .post-header {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            height: 100%;

            &__icon {
              box-shadow: none;
            }
          }

          .post-inner {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            padding-block: 0;
          }

          .post-content {
            max-width: 415px;

            p {
              font-weight: 400;
            }
          }

          .post-excerpt {
            p {
              font-size: 1.25rem;
            }
          }

          .post-author {
            display: none;
          }
        }
      }

      .post-header {
        position: relative;
        width: 100%;
        aspect-ratio: 380 / 216;
        overflow: hidden;

        &__button {
          position: absolute;
          inset: 0;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            button {
              background-color: white;
              color: var(--color-indigo);
            }
          }

          button {
            position: relative;
            z-index: 1;
            white-space: nowrap;
          }
        }

        &__image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &__icon {
          position: absolute;
          top: 0;
          left: 0;
          width: 77px;
          aspect-ratio: 77 / 66;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--color-sky);
          box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.55);

          img {
            width: 75%;
          }
        }

        // &::before {
        //   content: '';
        //   position: absolute;
        //   top: 0;
        //   left: 0;
        //   background-color: var(--color-sky);
        //   width: 77px;
        //   height: 66px;
        //   display: flex;
        //   align-items: center;
        //   justify-content: center;
        //   box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.55);
        //   background-image: url(../../public/icon-wp.svg);
        //   background-size: 44px 34px;
        //   background-repeat: no-repeat;
        //   background-position: center;
        // }
      }

      /*
      &:nth-child(3n+2) {
        .post-image {
          &::before {
            background-image: url(../../public/icon-apple.png);
            background-size: 64px;
          }
        }
      }

      &:nth-child(3n+3) {
        .post-image {
          &::before {
            background-image: url(../../public/icon-video.svg);
          }

          button {
            display: block;
          }
        }
      }

      &:last-child {
        .post-image {
          &::before {
            background-image: url(../../public/icon-video.svg);
          }

          button {
            display: block;
          }
        }
      }

      &:nth-last-child(2) {
        .post-image {
          &::before {
            background-image: url(../../public/icon-wp.svg) !important;
          }

          button {
            display: none;
          }
        }
      }

      &:nth-child(3), &:nth-child(5), &:nth-child(7) {
        .post-author {
          display: block;
        }
      }
      */

      .post-inner {
        --post-inner-padding: 1rem;
        
        padding: var(--post-inner-padding);
        padding-bottom: 5rem;

        @screen md {
          --post-inner-padding: 1.5rem;
          padding-bottom: 7rem;
        }

        @screen xl {
          --post-inner-padding: 2.5rem;
          padding-bottom: 10rem;
        }
      }

      .post-content {
        p {
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.2;
        }
      }

      .post-title {
        font-size: 1.5rem;
        line-height: 1;
        font-weight: 700;
        color: white;
        margin-bottom: 2rem;
        text-transform: uppercase;

        @screen xl {
          font-size: 2rem;
        }

        a {
          transition: color 0.3s ease-in-out;

          &:hover {
            color: var(--color-sky);
          }
        }
      }

      .post-excerpt {
        p {
          font-size: 1rem;
          font-weight: 400;

          @screen md {
            font-size: 1.25rem;
            font-weight: 700;
          }
        }
      }

      .post-author {
        // font-size: 1.25rem;
        font-weight: 600;
        color: white;
        margin-top: 1rem;
        display: none;
      }

      .post-link {
        line-height: 1;
        font-weight: 600;
        letter-spacing: 0.05em;
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        position: absolute;
        bottom: var(--post-inner-padding);
        left: var(--post-inner-padding);

        &:hover {
          &::after {
            translate: 3px 0;
          }
        }

        &::after {
          content: '';
          display: inline-block;
          width: 0.5rem;
          height: 0.5rem;
          border-top: 2px solid var(--color-sky);
          border-right: 2px solid var(--color-sky);
          transform: rotate(45deg);
          transition: translate 0.3s ease-in-out;
        }
      }
    }
  }

  // Load More Button
  .alm-btn-wrap {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;

    @screen md {
      margin-top: 5rem;
    }

    button.alm-load-more-btn.more {
      @extend .button;
      width: 150px;
      font-size: 1rem;
      background-color: var(--color-sky);

      &:hover {
        background-color: var(--color-indigo-bright);
      }

      &::after, &::before {
        display: none !important;
      }

      @screen md {
        width: 200px;
        font-size: 1.25rem;
        font-weight: 700;
        padding: 0.5rem 2rem;
      }
    }
  }

  // Filters
  #alm-filters {
    position: relative;
    z-index: 10;

    .alm-filters-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      column-gap: 0.5rem;
      row-gap: 0.5rem;
      opacity: 1 !important;
      margin-bottom: 0 !important;

      @screen md {
        flex-direction: row;
        // flex-wrap: wrap;
      }
      
      @screen xl {
        column-gap: 2.25rem;
      }
    
      // Dropdowns
      .alm-filter--taxonomy,
      .alm-filter--sort {
        position: relative;
        flex: 1 1 0%;

        @screen xl {
          max-width: 300px;
        }
    
        .alm-filter--title {
          position: relative;
          display: flex;
          align-items: center;
          height: 2.5rem;
          // background: white;
          border: 2px solid white;
          padding: 0 1.5rem;
          border-radius: 9999px;
          cursor: pointer;
    
          &::after {
            content: '';
            position: absolute;
            display: block;
            top: 50%;
            right: 1rem;
            width: 9px;
            height: 23px;
            transform: translateY(-50%);
            background-color: theme('colors.navy');
            mask-image: url("data:image/svg+xml,%3Csvg width='9' height='23' viewBox='0 0 9 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.15385 0L9 9H0L4.15385 0ZM4.15385 23L9 14H0L4.15385 23Z' fill='%23F4A426'/%3E%3C/svg%3E%0A");
            display: none;
          }
    
          h3 {
            font-family: theme('fontFamily.proxima');
            font-size: 0.875rem;
            font-weight: 700;
            color: white;
            margin: 0;
            transition: all 300ms ease-out;

            .selected-value {
              color: var(--color-sky);
              margin-left: 1rem;
            }
          }
        }
    
        .alm-filter--inner {
          visibility: hidden;
          opacity: 0;
          position: absolute;
          margin-top: 1rem;
          width: 100%;
          background: var(--color-indigo-bright);
          padding: 1rem;
          border-radius: 0.25rem;
          z-index: 999;
          box-shadow: theme('boxShadow.md');
          transform: translateY(15px);
          transition: all 300ms cubic-bezier(0.18,0.89,0.32,1.27);
          max-height: 300px;
          overflow-y: scroll;

          ul {
            li {
              .alm-filter--link {
                color: white;
                font-weight: 700;
              }
            }
          }
        }
      
        &.open .alm-filter--inner {
          visibility: visible;
          opacity: 1;
          transform: translateY(0);
        }
      }
    
      // Inputs
      .alm-filter li div.alm-filter--link.active.field-checkbox:before,
      .alm-filter li div.alm-filter--link.active.field-radio:before {
        background-color: var(--color-sky);
        border-color: var(--color-sky);
      }
      
      .alm-filter li div.alm-filter--link.active.field-checkbox:after,
      .alm-filter li div.alm-filter--link.active.field-radio:after {
        background-color: var(--color-indigo);
        border-color: var(--color-indigo);
      }
    
      // Search
      .alm-filter--search {
        position: relative;
        flex: 1 1 0%;
        z-index: 5;

        @screen xl {
          max-width: 400px;
        }

        input[type="text"] {
          width: 100%;
          padding: 0.5rem 1.5rem;
          border: 2px solid white;
          border-radius: 9999px;
          background-color: transparent;
          font-weight: 700;
          color: white;
        }

        .alm-filter--inner {
          padding-bottom: 0;
        }

        button {
          display: none;
        }

        .clear-search {
          position: absolute;
          right: 1rem;
          padding: 1rem;
          cursor: pointer;
          opacity: 0.5;
          transition: opacity 300ms ease-out;
          top: 50%;
          transform: translateY(-50%);
    
          &:hover {
            opacity: 1;
          }
        }
      }

      /*
      .alm-filter--search[data-fieldtype="text"] {
        width: 100%;
        flex-shrink: 0;
        .page-template-page-directory & {
          &::after {
            content: 'Filters:';
            font-family: theme('fontFamily.proxima');
            display: block;
            font-weight: bold;
            text-transform: uppercase;
            margin: 0;
            padding: 0 1rem;
            @screen xl {
              margin: 2rem 0 0.5rem;
            }
          }	
        }
    
        .clear-search {
          position: absolute;
          right: 5rem;
          padding: 1rem;
          cursor: pointer;
          opacity: 0.5;
          transition: opacity 300ms ease-out;
          @screen md {
            right: 7rem;
          }
    
          &:hover {
            opacity: 1;
          }
        }
    
        .alm-filter--inner {
          padding: 0;
          margin-bottom: 1rem;
        }
    
        .alm-filter--text {
          position: relative;
          display: flex;
          align-items: center;
          height: 3.25rem;
          @screen md {
            padding-left: 2.5rem;
          }
    
          & > * {
            white-space: nowrap;
          }
    
          label {
            display: none;
            margin-bottom: 0;
            color: theme('colors.navy');
            text-transform: uppercase;
            font-weight: bold;
            background: white;
            height: 100%;
            align-items: center;
            padding: 0 0.5rem 0 2.5rem;
            border-top-left-radius: 9999px;
            border-bottom-left-radius: 9999px;
            border: 1px solid theme('colors.navy');
            border-right: none;
            @screen md {
              display: flex;
            }
          }
    
          .alm-filter--text-wrap {
            position: static;
            width: 100%;
            height: 100%;				
    
            input[type="text"] {
              font-size: 16px;
              background: transparent;
              border: none;
              padding: 0 2.5rem 0 1.5rem;
              background: white;
              height: 100%;
              border: 1px solid theme('colors.navy');
              border-top-left-radius: 9999px;
              border-bottom-left-radius: 9999px;

              &::placeholder {
                transition: opacity 100ms ease-out;
              }

              &:focus::placeholder {
                opacity: 0;
                visibility: hidden;
              }
    
              @screen md {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-left: none;
                border-right: none;
                padding-left: 0;
              }
      
              &, &::placeholder {
                color: theme('colors.navy');
              }
            }
    
            button[type="button"] {
              position: relative;
              background: theme('colors.navy');
              padding: 0 2.5rem;
              box-shadow: none;
              border-top-right-radius: 9999px;
              border-bottom-right-radius: 9999px;
              text-indent: -9999px;
              transition: background 300ms ease-out;
              @screen md {
                padding: 0 3.5rem;
              }
              
              &:hover {
                background: theme('colors.navy');
              }
              
              &::after {
                content: '';
                visibility: visible;
                display: block;
                width: 46px;
                height: 45px;
                background: white;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                mask-image: url("data:image/svg+xml,%3Csvg width='46' height='45' viewBox='0 0 36 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.3984 23.3047L25.8811 27.1632C26.326 27.5463 26.9046 27.7373 27.4902 27.6946C28.0758 27.6518 28.6205 27.3788 29.0052 26.9352C29.3871 26.4883 29.5768 25.9085 29.533 25.3222C29.4891 24.736 29.2152 24.1909 28.771 23.8058L24.2884 19.9473C23.5608 21.2494 22.5778 22.3914 21.3984 23.3047Z' fill='%23761D52'/%3E%3Cpath d='M6.51884 7.5807C4.92605 9.39459 4.04309 11.7233 4.03282 14.1373C4.02256 16.5512 4.88569 18.8874 6.463 20.7148C8.04031 22.5422 10.2253 23.7374 12.6149 24.0799C15.0044 24.4224 17.4372 23.8892 19.4643 22.5785C19.675 22.4439 19.8736 22.2988 20.0721 22.1538C21.2808 21.2717 22.2697 20.1228 22.9621 18.7964C23.076 18.5784 23.1899 18.3605 23.2864 18.1382C24.2487 15.9443 24.3914 13.4779 23.6888 11.1876C22.9861 8.89727 21.4847 6.93528 19.4576 5.6585C17.4305 4.38173 15.0125 3.87498 12.6434 4.23045C10.2742 4.58593 8.11137 5.78002 6.54826 7.59548L6.51884 7.5807ZM20.5287 15.775C20.4665 16.0251 20.3884 16.271 20.2952 16.5113C19.7479 17.9302 18.7269 19.1164 17.4052 19.8687C17.1805 20 16.9471 20.1158 16.7066 20.2153C15.327 20.8038 13.7889 20.908 12.3425 20.5109C10.8961 20.1138 9.6268 19.2388 8.74114 18.0284C7.85548 16.8179 7.40568 15.3432 7.46496 13.8445C7.52423 12.3458 8.08908 10.9113 9.06757 9.77459C10.0461 8.63784 11.3805 7.86579 12.8537 7.58417C14.3269 7.30254 15.8521 7.5279 17.1809 8.22358C18.5097 8.91926 19.5638 10.0443 20.1717 11.4154C20.7796 12.7866 20.9055 14.3232 20.5287 15.775Z' fill='%23761D52'/%3E%3C/svg%3E%0A");				
              }
            }
          }
        }
      }
      */
    }

    // Results
    #alm-selected-filters {
      padding: 0;
      margin-top: 1rem;
      & li div:focus,
      & li div:hover {
        box-shadow: none;
        border: 1px solid theme('colors.navy');
      }	
    }
  }
}
// Add more styles as needed to match the theme 